
<table>
  <thead>
    <tr>
      <th>Fname</th>
      <th>Lname</th>
      <th>Church</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @applicants.each do |applicant| %>
      <tr>
        <td><%= applicant.fname %></td>
        <td><%= applicant.lname %></td>
        <td><%= applicant.church.city %></td>
        <td><%= link_to 'View/Edit', applicant, class: "continue" , layout: false  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class = "show_applicant">
  <%= link_to 'New Applicant', new_applicant_path, class: "continue" , layout: false %>
</div>

<%= javascript_include_tag "continue" %>

