<div class="main">
<p id="notice"><%= notice %></p>

<h1> Applicant Details:</h1>

<p>
  <strong>Fname:</strong>
  <%= @applicant.fname %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @applicant.lname %>
</p>

<p>
  <strong>Address:</strong>
  <%= @applicant.address %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @applicant.gender %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @applicant.dob %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @applicant.phone %>
</p>

<p>
  <strong>Married status:</strong>
  <%= @applicant.married_status %>
</p>

<p>
  <strong>Church:</strong>
  <%= @applicant.church.city %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @applicant.occupation %>
</p>

<p>
  <strong>Occupation status:</strong>
  <%= @applicant.occupation_status %>
</p>

<p>
  <strong>Income:</strong>
  <%= @applicant.income %>
</p>

<%= link_to 'Edit', edit_applicant_path(@applicant), class: "continue", layout: false %>

<h1>Assets Details: </h1>
<div class="jsindex">
<%= render 'assets/index' %>
<%= link_to 'Add Asset', new_applicant_asset_path(@applicant), class: "editAsset", layout: false, data: {toggle: "modal", target: "#formModal" } %>
</div>
<br>

<h1>Household Details: </h1>
<div class="jsindex">
<%= render 'household_members/index' %>
<%= link_to 'Add Household Member', new_applicant_household_member_path(@applicant), class: "editHouseholdMember", layout: false, data: {toggle: "modal", target: "#formModal" } %>
</div>
<br>

<h1>Request Details: </h1>
<div class="jsindex">
<%= render 'requests/index' %>
<%= link_to 'Add Request', new_applicant_request_path(@applicant), class: "editRequest", layout: false, data: {toggle: "modal", target: "#formModal" } %>
</div>
<br>

  <!-- Asset Modal -->
  <div class="modal fade" id="formModal">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">

        <div class="modal-header">
          <button class="closeModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>

        <!-- Modal body populated with javascript-->
        <div class="modal-body">
        </div>

      </div>
    </div>
  </div>

</div>
